@model Jogador

@{
    ViewData["Title"] = "Equipe";
}

<h1>Tela de Jogadores</h1>

<form action="">
    <label for="">Id Jogador</label>
    <input type="text" name="Nome">

    <label for=""></label>
</form>